




.custom-marker{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
@media (prefers-color-scheme: light) {
    .custom-marker{
        background-color: rgb(0, 0, 0);
    }
}


.mapboxgl-popup-content {
    background-color: rgb(0, 0, 0);
    box-shadow: 6px 6px 6px rgba(1,1,1,.4);
}
  
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    align-self: center;
    border-bottom: none;
    border-top-color: rgb(0, 0, 0);
}
.mapboxgl-popup{
}
.mapboxgl-popup-close-button{
    display: none;
}
.popup-content{
    background-color: rgb(0, 0, 0);
}
.popup-name{}
.popup-country{}
.popup-link-row{
    display: flex;
    margin-top: 5px;
}
.popup-link-info{
    width: 20px;
    height: 20px;
    outline: none;
}
.popup-link-info > svg{
    width: 20px;
    height: 20px;
    /* filter: invert(1); */
}
.popup-link-map{
    width: 20px;
    height: 20px;
    outline: none;
    margin-left: 3px;
}
.popup-link-map > svg{
    width: 20px;
    height: 20px;
    filter: invert(1);
}












.home-button{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
}
@media (prefers-color-scheme: light) {
    .home-button{
        background: rgba(255, 255, 255, 0.04);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.4px);
        -webkit-backdrop-filter: blur(5.4px);
        border: 0.5px solid rgba(255, 255, 255, 0.2);
    }
}
.home-icon{
    width: 20px;
    height: 20px;
}






.map-add-city-row{
    position: absolute;
    position: sticky;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    /* width: 100%; */
    width: 250px;
    padding-left: 5px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
    /* background-color: black; */
    border-top: 0.5px solid rgb(44, 44, 44);


background: rgba(255, 255, 255, 0.04);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.4px);
-webkit-backdrop-filter: blur(5.4px);
border: 0.5px solid rgba(255, 255, 255, 0.2);
}
@media (prefers-color-scheme: light) {
    .add-city-row{
        background: rgba(255, 255, 255, 0.04);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.4px);
        -webkit-backdrop-filter: blur(5.4px);
        border: 0.5px solid rgba(255, 255, 255, 0.2);
    }
}

.loading-select{
    width: 163px;
    height: 39px;
    border-radius: 5px;
    /* background-color: #181818; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #696969 0.5px solid;

    background: rgba(255, 255, 255, 0.04);
    background-color: #181818;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}
.loading-placeholder{
    font-size: 16px;
    margin-left: 12px;
    margin-top: 1px;
    color: gray;
}
.loading-icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.loading-icon svg{
    fill: white;
}
.city-add-button{
    height: 40px;
    /* width: 55px; */
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    /* background-color: #181818; */
    /* background-color: white; */
    border: #9f9f9f 0.5px solid;
    color: rgb(201, 201, 201);
    /* color: black; */
    cursor: pointer;
    user-select: none;

    /* background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px); */
    background-color: white;
    color: black;
    border: none;
}
.add-icon{
    width: 15px;
    height: 15px;
}

