




.sortable-tree-row-container{
    width: 96%;
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    height: 40px;
}
.sortable-tree-row-top{
    display: flex;
    justify-content: space-between;
}

.dnd-sortable-tree_simple_wrapper{
    margin-bottom: 0px !important;
}
.sortable-tree-row{
    /* 上と同じDiv */
    /* max-width: 500px; */
    /* margin: auto; */
    /* margin-top: 10px; */
    width: 100%;
    margin-right: 7px;
    margin-bottom: 0px;
    background-color: var(--background);
    color: white;
}

.date-line-row{
    /* background-color: red; */
}
.date-line-row > .dnd-sortable-tree_simple_tree-item{
    border: none;
    background-color: transparent;
    height: 40px;
}
.dnd-sortable-tree_simple_tree-item{
    cursor: pointer;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 5px;
    background-color: var(--gray-background);
    border: none !important;
    touch-action: none;
    user-select: none;
}
.dnd-sortable-tree_simple_handle{
    filter: invert(1);
}
@media (prefers-color-scheme: light) {
    .dnd-sortable-tree_simple_handle{
        filter: invert(0);
    }
}
.dnd-sortable-tree_simple_tree-item-collapse_button{
    /* PULL DOWN ARROW */
    filter: invert(1);
    cursor: pointer;
    display: none;
}
.sortable-tree-text{
    color: var(--foreground);
    margin-top: 1px;
}



.sortable-tree-add-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    min-width: 35px;
    height: 40px;
    /* background-color: var(--gray-background); */
    border-radius: 500px;
    /* margin-right: 10px; */
    cursor: pointer;
}
.sortable-tree-add-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.sortable-tree-delete-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    min-width: 35px;
    height: 40px;
    /* background-color: var(--gray-background); */
    border-radius: 500px;
    cursor: pointer;
}
.sortable-tree-delete-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}



.sortable-tree-row-bottom{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.sortable-tree-add-button{
    width: 70px;
    height: 20px;
    border-radius: 50px;
    background-color: var(--gray-background);
    display: flex;
    justify-content: center;
    align-items: center;
}