:root {
    --date-border-color: #2b2b2b;
}
@media (prefers-color-scheme: light) {
    :root {
        --date-border-color: #c7cccc;
    }
}




.each-trip-page{
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    /* border-bottom: 1px solid var(--date-border-color); */
}



.each-trip-info{}
.each-trip-title-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}
.each-trip-title-row > h1{
    font-size: 2rem;
    margin-top: 4px;
    margin-bottom: 4px;
}
.each-trip-edit-button{
    width: 70px !important;
    min-width: 70px !important;
    height: 35px;
    border-radius: 500px;
    background-color: var(--foreground);
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding-top: 2px;
}
.each-trip-edit-button-done{
    /* background-color: black; */
    /* color: white; */
    background-color: transparent;
    color: var(--foreground);
    outline: 1px solid var(--foreground);
}
.each-trip-date-row{
    margin-top: 2px;
}
.each-trip-date-row > p{
    letter-spacing: 0.5px;
}
.each-trip-flag-row{
    margin-top: 3px;
}






.each-trip-list-container{
    margin-top: 50px;
}
.each-trip-list{
    border: 1px solid var(--date-border-color);
    /* border-bottom: none; */
    border-radius: 9px;
}
.each-date-container{
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid var(--date-border-color);
}
.each-date-left{
    /* background-color: var(--gray-background); */
    width: 35px;
    padding-left: 2px;
    /* border: 1px solid var(--date-border-color); */
    border-right: none;
    border-bottom: none;
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.each-date-left-inner{}
.each-date-left-month{
    text-align: center;
    font-size: 0.8rem;
}
.each-date-left-day{
    text-align: center;
    font-size: 1.2rem;
}
.each-date-right{
    flex: 1;
    padding: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid var(--date-border-color); */
    border-left: none;
    border-bottom: none;
}

.each-trip-list-item{
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    padding: 15px 15px 10px 15px;
    background-color: var(--gray-background);
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.each-trip-list-item-same-last{
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -15px;
    padding-bottom: 0px;
}
.each-trip-list-item-same-first{
    border-radius: 0px 0px 10px 10px;
    margin-top: -15px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.each-trip-list-item-same-between{
    border-radius: 0px;
    margin-bottom: -15px;
}
.each-trip-list-item-title-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.each-trip-list-item-title{}
.each-trip-list-item-buttons{
}
.each-trip-list-item-info-icon{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.each-trip-list-item-map-icon{
    width: 18px;
    height: 18px;
}
.each-trip-list-date-line{
    border-top: 1px dashed #ccc;
    height: 5px;
    margin-top: 20px;
}









.each-trip-title-input{
    font-size: 2rem;
    font-weight: 700;
    margin-right: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
}

.each-trip-edit-list{
    margin-top: 50px;
    width: 100%;
}


.add-next-day-button{
    width: 100px;
    margin: auto;
}
.add-next-day-button-icon{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}


@media (max-width: 450px) {
    .each-trip-page{
        width: 95%;
        max-width: 500px;
        margin: auto;
        margin-bottom: 20px;
    }
    .each-trip-info{
        width: 95%;
        margin: auto;
    }
}